<div class="grid-100 row controls">
  <div class="grid-30">

    <select ng-model="selectedCategory" ng-change="checkForResults()">
      <option value="">All Categories</option>
      <option value ="{{category.name}}" ng-repeat="category in allCategories">{{category.name}}</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
       <button ng-click="loadAddRecipeView()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>


<div class="grid-100 row" ng-show="noresults">
  <div class="grid-70">
    <p>No recipes found!</p>
  </div>
</div>


<div>
<div class="grid-100 row addHover" ng-repeat="recipe in listRecipes">

  <a ng-href="/#/edit/{{recipe._id}}">
    <div class="grid-70" ng-hide="noresults">
      <p>
        {{recipe.name}}
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a href="/#/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a class="no-action-link" ng-click="deletedRecipe($index)"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
